[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: black;
  --heading-color: #34a1a0;
}
[data-theme='dark'] {
  --bg-color: #23272f;
  --text-color: #fff;
  --heading-color: #34a1a0;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--heading-color);
}
.page {
  display: flex;
  flex-direction: column;
  height: 92dvh;
}
.navbar {
  height: 8dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar div {
  display: flex;
  gap: 20px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.theme-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 9em;
  height: 2.5em;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 0.5em;
  border: 1px solid black;
  box-shadow: 6px 6px 0px black;
  transition: 0.4s;
  z-index: 1;
}

.name::before {
  color: black;
  content: 'Dark Mode';
  margin-right: 2em;
  transition: 0.2s ease-in-out;
}

.name::after {
  color: black;
  content: 'Light Mode';
  margin-right: 1.7em;
  transition: 0.2s ease-in-out;
  display: none;
}

.theme-switch .slider {
  position: absolute;
  background-color: #222;
  margin-left: 6.2em;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #222;
  transform: rotate(-120deg);
  box-shadow: inset 0px 6px #999, inset 0px 6px 1px 1px #999;
  -moz-box-shadow: inset 0px 6px #999, inset 0px 6px 1px 1px #999;
}

.theme-switch:hover {
  color: white;
  cursor: pointer;
  box-shadow: none;
  transform: translateX(6px) translateY(6px);
  background-color: black;
  border: none;
}

.theme-switch:hover .name::before {
  color: white;
}

.theme-switch:hover .name::after {
  color: white;
}

.theme-switch input[type='checkbox']:checked + .slider {
  transform: rotate(360deg);
  box-shadow: none;
  border: 4px solid #f28c38;
  background-color: #f28c38;
}

.theme-switch input[type='checkbox']:checked ~ .name::before {
  display: none;
}

.theme-switch input[type='checkbox']:checked ~ .name::after {
  display: block;
}

.theme-switch input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
}

.slider {
  transition: 300ms ease;
}
